openapi: 3.1.0
info:
  title: Ardent Agent Execution API
  version: 1.0.0
  description: >-
    Minimal hosted API spec for LLM agent tooling (ChatGPT/Grok/MCP wrappers).
servers:
  - url: https://api.ardentresearch.xyz
security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /feed/recent:
    get:
      summary: Recent public feed activity
      security: []
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 12
      responses:
        '200':
          description: Feed rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
  /wallet:
    get:
      summary: Resolve or provision smart wallet
      parameters:
        - in: query
          name: agent_id
          required: true
          schema:
            type: string
        - in: query
          name: chain
          required: false
          schema:
            type: string
            default: ethereum
      responses:
        '200':
          description: Wallet response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /simulate:
    post:
      summary: Simulate execution request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /execute:
    post:
      summary: Execute transaction (or return payment quote)
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          description: JSON string proof header for manual payment flow re-submit.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /status/{id}:
    get:
      summary: Get request status by request ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    ErrorResponse:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    BatchCall:
      type: object
      properties:
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
      required:
        - target_contract
        - calldata

    ExecutionRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum, base, bnb]
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
        strategy_id:
          type: ["string", "null"]
        batch_calls:
          type: ["array", "null"]
          items:
            $ref: '#/components/schemas/BatchCall'
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - chain

    ExecutionResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - payment_required
            - payment_verified
            - queued
            - broadcasting
            - confirmed
            - failed
            - reverted
        smart_wallet_address:
          type: ["string", "null"]
        estimated_gas:
          type: ["integer", "null"]
        estimated_cost_usd:
          type: ["number", "null"]
        tx_hash:
          type: ["string", "null"]
        message:
          type: string
      required:
        - request_id
        - status
        - message

    WalletResponse:
      type: object
      properties:
        agent_id:
          type: string
        smart_wallet_address:
          type: string
        deployed:
          type: boolean
        message:
          type: string

      required:
        - agent_id
        - smart_wallet_address
        - deployed
        - message

    StatusResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
        chain:
          type: string
        tx_hash:
          type: ["string", "null"]
        cost_usd:
          type: ["number", "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - request_id
        - status
        - chain
        - created_at
        - updated_at

    PaymentRequiredBody:
      type: object
      properties:
        error:
          type: string
          example: payment_required
        amount_usd:
          type: number
        accepted_tokens:
          type: array
          items:
            type: string
        required_amount_raw:
          type: object
          additionalProperties:
            type: string
        payment_address:
          type: string
        chain:
          type: string
        request_id:
          type: string
        smart_wallet_address:
          type: string
      required:
        - error
        - amount_usd
        - accepted_tokens
        - required_amount_raw
        - payment_address
        - chain
        - request_id
        - smart_wallet_address
