openapi: 3.1.0
info:
  title: Ardent Agent Execution API
  version: 1.0.0
  description: >-
    Minimal hosted API spec for LLM agent tooling (ChatGPT/Grok/MCP wrappers).
servers:
  - url: https://api.ardentresearch.xyz
security:
  - ApiKeyAuth: []

paths:
  /health:
    get:
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /feed/recent:
    get:
      summary: Recent public feed activity
      security: []
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 12
      responses:
        '200':
          description: Feed rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
  /wallet:
    get:
      summary: Resolve or provision smart wallet
      parameters:
        - in: query
          name: agent_id
          required: true
          schema:
            type: string
        - in: query
          name: chain
          required: false
          schema:
            type: string
            default: ethereum
      responses:
        '200':
          description: Wallet response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /wallet/balance:
    get:
      summary: Get native + ERC-20 token balances for an agent's smart wallet
      parameters:
        - in: query
          name: agent_id
          required: true
          schema:
            type: string
        - in: query
          name: chain
          required: false
          schema:
            type: string
            default: ethereum
      responses:
        '200':
          description: Wallet balance response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalanceResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /simulate:
    post:
      summary: Simulate execution request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /execute:
    post:
      summary: Execute transaction (or return payment quote)
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          description: JSON string proof header for manual payment flow re-submit.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/supply/simulate:
    post:
      summary: Simulate Aave V3 Sepolia supply action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveSupplyRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/supply:
    post:
      summary: Execute Aave V3 Sepolia supply action
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          description: JSON string proof header for manual payment flow re-submit.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveSupplyRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/withdraw/simulate:
    post:
      summary: Simulate Aave V3 Sepolia withdraw action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveWithdrawRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/withdraw:
    post:
      summary: Execute Aave V3 Sepolia withdraw action
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveWithdrawRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/repay/simulate:
    post:
      summary: Simulate Aave V3 Sepolia repay action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveRepayRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/repay:
    post:
      summary: Execute Aave V3 Sepolia repay action
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveRepayRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/borrow/simulate:
    post:
      summary: Simulate Aave V3 Sepolia borrow action
      description: Checks projected health factor using Aave account data and oracle price before simulating Pool.borrow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveBorrowRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/borrow:
    post:
      summary: Execute Aave V3 Sepolia borrow action
      description: Checks projected health factor using Aave account data and oracle price before executing Pool.borrow.
      parameters:
        - in: header
          name: X-Payment-Proof
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AaveBorrowRequest'
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionResponse'
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequiredBody'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /protocols/aave-v3/position:
    get:
      summary: Read Aave V3 Sepolia account data for an agent wallet
      parameters:
        - in: query
          name: agent_id
          required: true
          schema:
            type: string
        - in: query
          name: chain
          required: false
          schema:
            type: string
            enum: [ethereum]
            default: ethereum
      responses:
        '200':
          description: Aave position response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AavePositionResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
  /status/{id}:
    get:
      summary: Get request status by request ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    ErrorResponse:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string

  schemas:
    BatchCall:
      type: object
      properties:
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
      required:
        - target_contract
        - calldata

    ExecutionRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum, base, arbitrum]
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
        strategy_id:
          type: ["string", "null"]
        batch_calls:
          type: ["array", "null"]
          items:
            $ref: '#/components/schemas/BatchCall'
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - chain

    AaveSupplyRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum]
          default: ethereum
          description: Hosted testnet uses ethereum as the Sepolia chain label.
        asset:
          type: string
          enum: [AAVE, DAI, EURS, GHO, LINK, USDC, USDT, WBTC, WETH]
        amount:
          type: ["string", "null"]
          description: Human-readable token amount, e.g. "1.25".
        amount_raw:
          type: ["string", "null"]
          description: Raw token base-unit amount. Provide either amount or amount_raw.
        referral_code:
          type: ["integer", "null"]
          minimum: 0
          maximum: 65535
        strategy_id:
          type: ["string", "null"]
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - asset

    AaveWithdrawRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum]
          default: ethereum
        asset:
          type: string
          enum: [AAVE, DAI, EURS, GHO, LINK, USDC, USDT, WBTC, WETH]
        amount:
          type: ["string", "null"]
          description: Human-readable token amount, or "max".
        amount_raw:
          type: ["string", "null"]
          description: Raw token base-unit amount, or "max".
        to:
          type: ["string", "null"]
          description: Optional recipient address. Defaults to the agent wallet.
        strategy_id:
          type: ["string", "null"]
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - asset

    AaveRepayRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum]
          default: ethereum
        asset:
          type: string
          enum: [AAVE, DAI, EURS, GHO, LINK, USDC, USDT, WBTC, WETH]
        amount:
          type: ["string", "null"]
          description: Human-readable token amount, or "max".
        amount_raw:
          type: ["string", "null"]
          description: Raw token base-unit amount, or "max".
        interest_rate_mode:
          type: ["integer", "null"]
          enum: [1, 2]
          default: 2
          description: 1 = stable, 2 = variable.
        on_behalf_of:
          type: ["string", "null"]
          description: Optional debt owner. Defaults to the agent wallet.
        strategy_id:
          type: ["string", "null"]
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - asset

    AaveBorrowRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [ethereum]
          default: ethereum
        asset:
          type: string
          enum: [AAVE, DAI, EURS, GHO, LINK, USDC, USDT, WBTC, WETH]
        amount:
          type: ["string", "null"]
          description: Human-readable token amount, or "max".
        amount_raw:
          type: ["string", "null"]
          description: Raw token base-unit amount, or "max".
        interest_rate_mode:
          type: ["integer", "null"]
          enum: [1, 2]
          default: 2
          description: 1 = stable, 2 = variable.
        referral_code:
          type: ["integer", "null"]
          minimum: 0
          maximum: 65535
        on_behalf_of:
          type: ["string", "null"]
          description: Optional debt owner. Defaults to the agent wallet.
        min_health_factor:
          type: ["string", "null"]
          default: "1.05"
          description: Minimum projected health factor after borrow. Must be at least 1.0.
        strategy_id:
          type: ["string", "null"]
        callback_url:
          type: ["string", "null"]
          format: uri
      required:
        - agent_id
        - asset

    AavePositionResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        total_collateral_base:
          type: string
        total_debt_base:
          type: string
        available_borrows_base:
          type: string
        current_liquidation_threshold_bps:
          type: string
        ltv_bps:
          type: string
        health_factor:
          type: string
      required:
        - agent_id
        - chain
        - smart_wallet_address
        - pool_address
        - total_collateral_base
        - total_debt_base
        - available_borrows_base
        - current_liquidation_threshold_bps
        - ltv_bps
        - health_factor

    ExecutionResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
            - pending
            - payment_required
            - payment_verified
            - queued
            - broadcasting
            - confirmed
            - failed
            - reverted
        smart_wallet_address:
          type: ["string", "null"]
        estimated_gas:
          type: ["integer", "null"]
        estimated_cost_usd:
          type: ["number", "null"]
        tx_hash:
          type: ["string", "null"]
        message:
          type: string
      required:
        - request_id
        - status
        - message

    TokenBalance:
      type: object
      properties:
        symbol:
          type: string
        contract_address:
          type: string
        raw:
          type: string
          description: Raw on-chain balance in the token's smallest unit.
        formatted:
          type: string
          description: Human-readable balance scaled by token decimals.
        decimals:
          type: integer
      required:
        - symbol
        - contract_address
        - raw
        - formatted
        - decimals

    WalletBalanceResponse:
      type: object
      properties:
        agent_id:
          type: string
        smart_wallet_address:
          type: string
        chain:
          type: string
        native_balance_wei:
          type: string
          description: Native token balance in wei as a decimal string.
        native_balance_formatted:
          type: string
          description: Native balance in the chain's base unit (e.g. ETH).
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/TokenBalance'
      required:
        - agent_id
        - smart_wallet_address
        - chain
        - native_balance_wei
        - native_balance_formatted
        - tokens

    WalletResponse:
      type: object
      properties:
        agent_id:
          type: string
        smart_wallet_address:
          type: string
        deployed:
          type: boolean
        message:
          type: string

      required:
        - agent_id
        - smart_wallet_address
        - deployed
        - message

    StatusResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
        chain:
          type: string
        tx_hash:
          type: ["string", "null"]
        cost_usd:
          type: ["number", "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - request_id
        - status
        - chain
        - created_at
        - updated_at

    PaymentRequiredBody:
      type: object
      properties:
        error:
          type: string
          example: payment_required
        amount_usd:
          type: number
        accepted_tokens:
          type: array
          items:
            type: string
        required_amount_raw:
          type: object
          additionalProperties:
            type: string
        payment_address:
          type: string
        chain:
          type: string
        request_id:
          type: string
        smart_wallet_address:
          type: string
      required:
        - error
        - amount_usd
        - accepted_tokens
        - required_amount_raw
        - payment_address
        - chain
        - request_id
        - smart_wallet_address
