# This file is generated from docs/agent-integration/openapi/.
# Edit the split source files, then run: ruby docs/agent-integration/openapi/bundle.rb
---
openapi: 3.1.0
info:
  title: Ardent Agent Execution API
  version: 1.0.0
  description: Minimal hosted API spec for LLM agent tooling (ChatGPT/Grok/MCP wrappers).
servers:
- url: https://api.ardentresearch.xyz
security:
- ApiKeyAuth: []
paths:
  "/health":
    get:
      summary: Health check
      security: []
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  "/feed/recent":
    get:
      summary: Recent public feed activity
      security: []
      parameters:
      - in: query
        name: limit
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 12
      responses:
        '200':
          description: Feed rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
  "/wallet":
    get:
      summary: Resolve or provision smart wallet
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          default: ethereum
      responses:
        '200':
          description: Wallet response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WalletResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/wallet/balance":
    get:
      summary: Get native + ERC-20 token balances for an agent's smart wallet
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          default: ethereum
      responses:
        '200':
          description: Wallet balance response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WalletBalanceResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/simulate":
    post:
      summary: Simulate execution request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExecutionRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/execute":
    post:
      summary: Execute transaction (or return payment quote)
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        description: JSON string proof header for manual payment flow re-submit.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ExecutionRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/status/{id}":
    get:
      summary: Get request status by request ID
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Status response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/StatusResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '404':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/supply/simulate":
    post:
      summary: Simulate Aave V3 Sepolia supply action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveSupplyRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/supply":
    post:
      summary: Execute Aave V3 Sepolia supply action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        description: JSON string proof header for manual payment flow re-submit.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveSupplyRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/withdraw/simulate":
    post:
      summary: Simulate Aave V3 Sepolia withdraw action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveWithdrawRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/withdraw":
    post:
      summary: Execute Aave V3 Sepolia withdraw action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveWithdrawRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/repay/simulate":
    post:
      summary: Simulate Aave V3 Sepolia repay action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveRepayRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/repay":
    post:
      summary: Execute Aave V3 Sepolia repay action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveRepayRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/borrow/simulate":
    post:
      summary: Simulate Aave V3 Sepolia borrow action
      description: Checks projected health factor using Aave account data and oracle
        price before simulating Pool.borrow.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveBorrowRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/borrow":
    post:
      summary: Execute Aave V3 Sepolia borrow action
      description: Checks projected health factor using Aave account data and oracle
        price before executing Pool.borrow.
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AaveBorrowRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/position":
    get:
      summary: Read Aave V3 Sepolia account data for an agent wallet
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - ethereum
          default: ethereum
      responses:
        '200':
          description: Aave position response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AavePositionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/aave-v3/balances":
    get:
      summary: Read Aave V3 Sepolia reserve balances for an agent wallet
      description: Returns underlying wallet balances, supplied aToken balances, stable
        debt, and variable debt for every supported Aave V3 Sepolia reserve.
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - ethereum
          default: ethereum
      responses:
        '200':
          description: Aave reserve balances response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AaveBalancesResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/swap/quote":
    post:
      summary: Quote a Balancer V3 Ethereum Sepolia single-pool swap
      description: Verifies the pool and tokens on-chain, queries the Balancer Router,
        and returns the quote plus the slippage-derived execution limit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerSwapRequest"
      responses:
        '200':
          description: Balancer swap quote
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalancerQuoteResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/swap/simulate":
    post:
      summary: Simulate a Balancer V3 Ethereum Sepolia swap
      description: Quotes the swap, derives a limit when needed, compiles bounded
        ERC20 and Permit2 allowances, the Router swap, and post-swap allowance cleanup,
        then performs full UserOperation simulation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerSwapRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/swap":
    post:
      summary: Execute a Balancer V3 Ethereum Sepolia swap
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerSwapRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/add/quote":
    post:
      summary: Quote a Balancer V3 unbalanced liquidity addition
      description: Orders supplied token amounts using the Vault token order, queries
        expected BPT output, and derives a slippage-protected minimum.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerAddLiquidityRequest"
      responses:
        '200':
          description: Add-liquidity quote
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalancerAddLiquidityQuoteResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/add/simulate":
    post:
      summary: Simulate a Balancer V3 unbalanced liquidity addition
      description: Quotes and fully simulates bounded ERC20 and Permit2 approvals,
        the Router liquidity call, and allowance cleanup as one UserOperation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerAddLiquidityRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/add":
    post:
      summary: Add liquidity to a Balancer V3 pool
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerAddLiquidityRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/remove/quote":
    post:
      summary: Quote a proportional Balancer V3 liquidity removal
      description: Queries token outputs for an exact BPT burn and derives per-token
        slippage-protected minimums.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerRemoveLiquidityRequest"
      responses:
        '200':
          description: Remove-liquidity quote
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalancerRemoveLiquidityQuoteResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/remove/simulate":
    post:
      summary: Simulate a proportional Balancer V3 liquidity removal
      description: Quotes and fully simulates burning an exact BPT amount for all
        registered pool tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerRemoveLiquidityRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/liquidity/remove":
    post:
      summary: Remove liquidity proportionally from a Balancer V3 pool
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/BalancerRemoveLiquidityRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/pool":
    get:
      summary: Read a Balancer V3 Ethereum Sepolia pool
      parameters:
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - ethereum
          default: ethereum
      - in: query
        name: pool
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Balancer pool state and registered tokens
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalancerPoolResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/balancer-v3/balances":
    get:
      summary: Read Balancer V3 pool-related balances for an agent wallet
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - ethereum
          default: ethereum
      - in: query
        name: pool
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Agent BPT and registered pool-token balances
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalancerBalancesResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/supply/simulate":
    post:
      summary: Simulate Compound III Base Sepolia supply action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundSupplyRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/supply":
    post:
      summary: Execute Compound III Base Sepolia supply action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundSupplyRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/withdraw/simulate":
    post:
      summary: Simulate Compound III Base Sepolia withdraw action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundWithdrawRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/withdraw":
    post:
      summary: Execute Compound III Base Sepolia withdraw action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundWithdrawRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/repay/simulate":
    post:
      summary: Simulate Compound III Base Sepolia repay action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundRepayRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/repay":
    post:
      summary: Execute Compound III Base Sepolia repay action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundRepayRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/borrow/simulate":
    post:
      summary: Simulate Compound III Base Sepolia borrow action
      description: Compound III borrows are base-asset withdrawals from Comet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundBorrowRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/borrow":
    post:
      summary: Execute Compound III Base Sepolia borrow action
      description: Compound III borrows are base-asset withdrawals from Comet.
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CompoundBorrowRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/position":
    get:
      summary: Read Compound III Base Sepolia position for an agent wallet
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - base
          default: base
      - in: query
        name: market
        required: false
        schema:
          type: string
          enum:
          - usdc
          - weth
          default: usdc
      responses:
        '200':
          description: Compound position response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompoundPositionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/balances":
    get:
      summary: Read Compound III Base Sepolia wallet and protocol balances
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - base
          default: base
      - in: query
        name: market
        required: false
        schema:
          type: string
          enum:
          - usdc
          - weth
          default: usdc
      responses:
        '200':
          description: Compound balances response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompoundBalancesResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/compound-v3/borrow-capacity":
    get:
      summary: Read Compound III Base Sepolia borrow capacity and market rates
      description: Returns collateral-based borrow capacity in the selected market
        base asset, current borrow balance, available borrow, market utilization,
        and supply/borrow APR.
      parameters:
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - base
          default: base
      - in: query
        name: market
        required: false
        schema:
          type: string
          enum:
          - usdc
          - weth
          default: usdc
      responses:
        '200':
          description: Compound borrow capacity response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CompoundBorrowCapacityResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/markets":
    get:
      summary: Read GMX V2 Arbitrum Sepolia markets
      parameters:
      - &1
        in: query
        name: chain
        required: false
        schema:
          type: string
          enum:
          - arbitrum
          default: arbitrum
      - &2
        in: query
        name: start
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      - &3
        in: query
        name: end
        required: false
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: GMX markets response
          content:
            application/json:
              schema:
                type: object
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/positions":
    get:
      summary: Read GMX V2 Arbitrum Sepolia positions for an agent wallet
      parameters: &4
      - in: query
        name: agent_id
        required: true
        schema:
          type: string
      - *1
      - *2
      - *3
      responses:
        '200':
          description: GMX positions response
          content:
            application/json:
              schema:
                type: object
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia create order action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateOrderRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia create order action
      description: Compiles approve -> ExchangeRouter.multicall(sendWnt, sendTokens,
        createOrder) as a single ERC-4337 batch.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateOrderRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders/cancel/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia cancel order action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCancelOrderRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders/cancel":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia cancel order action
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCancelOrderRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders/update/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia update order action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxUpdateOrderRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/orders/update":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia update order action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxUpdateOrderRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
  "/protocols/gmx-v2/deposits/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia create deposit action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateDepositRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/deposits":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia create deposit action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateDepositRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
  "/protocols/gmx-v2/withdrawals/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia create withdrawal action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateWithdrawalRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/withdrawals":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia create withdrawal action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCreateWithdrawalRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
  "/protocols/gmx-v2/requests/cancel/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia cancel request action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCancelRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/requests/cancel":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia cancel request action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxCancelRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
  "/protocols/gmx-v2/claims/simulate":
    post:
      summary: Simulate GMX V2 Arbitrum Sepolia claim action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxClaimRequest"
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
  "/protocols/gmx-v2/claims":
    post:
      summary: Execute GMX V2 Arbitrum Sepolia claim action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GmxClaimRequest"
      responses:
        '200':
          description: Execution accepted/queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ExecutionResponse"
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
        '402':
          description: Payment required for manual mode
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/PaymentRequiredBody"
      parameters:
      - in: header
        name: X-Payment-Proof
        required: false
        schema:
          type: string
  "/protocols/gmx-v2/balances":
    get:
      summary: Read GMX V2 Arbitrum Sepolia GM market and underlying token balances
        for an agent wallet
      description: Returns GM/market LP token balances in `balances` and the wallet's
        underlying GMX market asset balances in `token_balances`.
      parameters: *4
      responses:
        '200':
          description: GMX balances response
          content:
            application/json:
              schema:
                type: object
        '400':
          "$ref": "#/components/responses/ErrorResponse"
        '401':
          "$ref": "#/components/responses/ErrorResponse"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  responses:
    ErrorResponse:
      description: Error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
  schemas:
    BatchCall:
      type: object
      properties:
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
      required:
      - target_contract
      - calldata
    ExecutionRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          - base
          - arbitrum
        target_contract:
          type: string
        calldata:
          type: string
        value:
          type: string
        strategy_id:
          type:
          - string
          - 'null'
        batch_calls:
          type:
          - array
          - 'null'
          items:
            "$ref": "#/components/schemas/BatchCall"
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - chain
    ExecutionResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - pending
          - payment_required
          - payment_verified
          - queued
          - broadcasting
          - confirmed
          - failed
          - reverted
        smart_wallet_address:
          type:
          - string
          - 'null'
        estimated_gas:
          type:
          - integer
          - 'null'
        estimated_cost_usd:
          type:
          - number
          - 'null'
        tx_hash:
          type:
          - string
          - 'null'
        message:
          type: string
      required:
      - request_id
      - status
      - message
    TokenBalance:
      type: object
      properties:
        symbol:
          type: string
        contract_address:
          type: string
        raw:
          type: string
          description: Raw on-chain balance in the token's smallest unit.
        formatted:
          type: string
          description: Human-readable balance scaled by token decimals.
        decimals:
          type: integer
      required:
      - symbol
      - contract_address
      - raw
      - formatted
      - decimals
    WalletBalanceResponse:
      type: object
      properties:
        agent_id:
          type: string
        smart_wallet_address:
          type: string
        chain:
          type: string
        native_balance_wei:
          type: string
          description: Native token balance in wei as a decimal string.
        native_balance_formatted:
          type: string
          description: Native balance in the chain's base unit (e.g. ETH).
        tokens:
          type: array
          items:
            "$ref": "#/components/schemas/TokenBalance"
      required:
      - agent_id
      - smart_wallet_address
      - chain
      - native_balance_wei
      - native_balance_formatted
      - tokens
    WalletResponse:
      type: object
      properties:
        agent_id:
          type: string
        smart_wallet_address:
          type: string
        deployed:
          type: boolean
        message:
          type: string
      required:
      - agent_id
      - smart_wallet_address
      - deployed
      - message
    StatusResponse:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
        status:
          type: string
        chain:
          type: string
        tx_hash:
          type:
          - string
          - 'null'
        cost_usd:
          type:
          - number
          - 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - request_id
      - status
      - chain
      - created_at
      - updated_at
    PaymentRequiredBody:
      type: object
      properties:
        error:
          type: string
          example: payment_required
        amount_usd:
          type: number
        accepted_tokens:
          type: array
          items:
            type: string
        required_amount_raw:
          type: object
          additionalProperties:
            type: string
        payment_address:
          type: string
        chain:
          type: string
        request_id:
          type: string
        smart_wallet_address:
          type: string
      required:
      - error
      - amount_usd
      - accepted_tokens
      - required_amount_raw
      - payment_address
      - chain
      - request_id
      - smart_wallet_address
    AaveSupplyRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
          description: Hosted testnet uses ethereum as the Sepolia chain label.
        asset:
          type: string
          enum:
          - AAVE
          - DAI
          - EURS
          - GHO
          - LINK
          - USDC
          - USDT
          - WBTC
          - WETH
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount, e.g. "1.25".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount. Provide either amount or amount_raw.
        referral_code:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 65535
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    AaveWithdrawRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        asset:
          type: string
          enum:
          - AAVE
          - DAI
          - EURS
          - GHO
          - LINK
          - USDC
          - USDT
          - WBTC
          - WETH
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount, or "max".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount, or "max".
        to:
          type:
          - string
          - 'null'
          description: Optional recipient address. Defaults to the agent wallet.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    AaveRepayRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        asset:
          type: string
          enum:
          - AAVE
          - DAI
          - EURS
          - GHO
          - LINK
          - USDC
          - USDT
          - WBTC
          - WETH
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount, or "max".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount, or "max".
        interest_rate_mode:
          type:
          - integer
          - 'null'
          enum:
          - 1
          - 2
          default: 2
          description: 1 = stable, 2 = variable.
        on_behalf_of:
          type:
          - string
          - 'null'
          description: Optional debt owner. Defaults to the agent wallet.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    AaveBorrowRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        asset:
          type: string
          enum:
          - AAVE
          - DAI
          - EURS
          - GHO
          - LINK
          - USDC
          - USDT
          - WBTC
          - WETH
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount, or "max".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount, or "max".
        interest_rate_mode:
          type:
          - integer
          - 'null'
          enum:
          - 1
          - 2
          default: 2
          description: 1 = stable, 2 = variable.
        referral_code:
          type:
          - integer
          - 'null'
          minimum: 0
          maximum: 65535
        on_behalf_of:
          type:
          - string
          - 'null'
          description: Optional debt owner. Defaults to the agent wallet.
        min_health_factor:
          type:
          - string
          - 'null'
          default: '1.05'
          description: Minimum projected health factor after borrow. Must be at least
            1.0.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    AavePositionResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        total_collateral_base:
          type: string
        total_debt_base:
          type: string
        available_borrows_base:
          type: string
        current_liquidation_threshold_bps:
          type: string
        ltv_bps:
          type: string
        health_factor:
          type: string
      required:
      - agent_id
      - chain
      - smart_wallet_address
      - pool_address
      - total_collateral_base
      - total_debt_base
      - available_borrows_base
      - current_liquidation_threshold_bps
      - ltv_bps
      - health_factor
    AaveAssetBalance:
      type: object
      properties:
        symbol:
          type: string
        underlying_address:
          type: string
        decimals:
          type: integer
        wallet_balance_raw:
          type: string
        wallet_balance_formatted:
          type: string
        a_token_address:
          type: string
        a_token_balance_raw:
          type: string
        a_token_balance_formatted:
          type: string
        stable_debt_token_address:
          type: string
        stable_debt_balance_raw:
          type: string
        stable_debt_balance_formatted:
          type: string
        variable_debt_token_address:
          type: string
        variable_debt_balance_raw:
          type: string
        variable_debt_balance_formatted:
          type: string
      required:
      - symbol
      - underlying_address
      - decimals
      - wallet_balance_raw
      - wallet_balance_formatted
      - a_token_address
      - a_token_balance_raw
      - a_token_balance_formatted
      - stable_debt_token_address
      - stable_debt_balance_raw
      - stable_debt_balance_formatted
      - variable_debt_token_address
      - variable_debt_balance_raw
      - variable_debt_balance_formatted
    AaveBalancesResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        assets:
          type: array
          items:
            "$ref": "#/components/schemas/AaveAssetBalance"
      required:
      - agent_id
      - chain
      - smart_wallet_address
      - pool_address
      - assets
    BalancerSwapRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        pool:
          type: string
          description: Registered Balancer V3 Ethereum Sepolia pool address.
        token_in:
          type: string
        token_out:
          type: string
        swap_kind:
          type: string
          enum:
          - exact_in
          - exact_out
          default: exact_in
        amount_raw:
          type: string
          description: Exact input amount for exact_in, or exact output amount for
            exact_out.
        limit_raw:
          type:
          - string
          - 'null'
          description: Minimum output for exact_in, or maximum input for exact_out.
            Derived from the quote when omitted.
        slippage_bps:
          type: integer
          minimum: 0
          maximum: 10000
          default: 100
        deadline:
          type:
          - integer
          - 'null'
          description: Future Unix timestamp. Defaults to twenty minutes after request
            handling.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - pool
      - token_in
      - token_out
      - amount_raw
    BalancerQuoteResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        token_in:
          type: string
        token_out:
          type: string
        swap_kind:
          type: string
        amount_raw:
          type: string
        quoted_amount_raw:
          type: string
        limit_raw:
          type: string
        slippage_bps:
          type: integer
        deadline:
          type: integer
    BalancerTokenAmount:
      type: object
      properties:
        token:
          type: string
          description: Registered pool-token address.
        amount_raw:
          type: string
          description: Raw token base-unit amount.
      required:
      - token
      - amount_raw
    BalancerAddLiquidityRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        pool:
          type: string
        amounts_in:
          type: array
          minItems: 1
          maxItems: 3
          items:
            "$ref": "#/components/schemas/BalancerTokenAmount"
        min_bpt_amount_out_raw:
          type:
          - string
          - 'null'
          description: Explicit minimum BPT output. Derived from the quote when omitted.
        slippage_bps:
          type: integer
          minimum: 0
          maximum: 10000
          default: 100
        deadline:
          type:
          - integer
          - 'null'
          description: Expiration for temporary Permit2 allowances.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - pool
      - amounts_in
    BalancerRemoveLiquidityRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - ethereum
          default: ethereum
        pool:
          type: string
        bpt_amount_in_raw:
          type: string
          description: Exact raw BPT amount to burn.
        min_amounts_out:
          type:
          - array
          - 'null'
          minItems: 1
          description: Optional token-address minimums. Omitted pool tokens use zero.
          items:
            "$ref": "#/components/schemas/BalancerTokenAmount"
        slippage_bps:
          type: integer
          minimum: 0
          maximum: 10000
          default: 100
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - pool
      - bpt_amount_in_raw
    BalancerLiquidityAmount:
      type: object
      properties:
        token:
          type: string
        amount_raw:
          type: string
    BalancerAddLiquidityQuoteResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        amounts_in:
          type: array
          items:
            "$ref": "#/components/schemas/BalancerLiquidityAmount"
        quoted_bpt_amount_out_raw:
          type: string
        min_bpt_amount_out_raw:
          type: string
        slippage_bps:
          type: integer
        deadline:
          type: integer
    BalancerRemoveLiquidityQuoteResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        bpt_amount_in_raw:
          type: string
        quoted_amounts_out:
          type: array
          items:
            "$ref": "#/components/schemas/BalancerLiquidityAmount"
        min_amounts_out:
          type: array
          items:
            "$ref": "#/components/schemas/BalancerLiquidityAmount"
        slippage_bps:
          type: integer
    BalancerPoolToken:
      type: object
      properties:
        index:
          type: integer
        address:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: integer
        pool_balance_raw:
          type: string
        pool_balance_formatted:
          type: string
        live_balance_scaled_18_raw:
          type: string
    BalancerPoolResponse:
      type: object
      properties:
        chain:
          type: string
        pool_address:
          type: string
        pool_name:
          type: string
        pool_symbol:
          type: string
        pool_decimals:
          type: integer
        total_supply_raw:
          type: string
        total_supply_formatted:
          type: string
        router_address:
          type: string
        vault_address:
          type: string
        vault_explorer_address:
          type: string
        permit2_address:
          type: string
        is_registered:
          type: boolean
        is_initialized:
          type: boolean
        is_paused:
          type: boolean
        is_in_recovery_mode:
          type: boolean
        static_swap_fee_percentage_raw:
          type: string
        tokens:
          type: array
          items:
            "$ref": "#/components/schemas/BalancerPoolToken"
    BalancerTokenBalance:
      type: object
      properties:
        address:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: integer
        wallet_balance_raw:
          type: string
        wallet_balance_formatted:
          type: string
    BalancerBalancesResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        pool_address:
          type: string
        bpt_balance_raw:
          type: string
        bpt_balance_formatted:
          type: string
        tokens:
          type: array
          items:
            "$ref": "#/components/schemas/BalancerTokenBalance"
    CompoundSupplyRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - base
          default: base
        asset:
          type: string
          description: USDC/base, WETH, or a token address supported by the selected
            Comet market.
        market:
          type:
          - string
          - 'null'
          enum:
          - usdc
          - weth
          description: Compound III Base Sepolia market. Defaults from asset.
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount. Use amount_raw for raw token addresses.
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount, or "max" for wallet balance.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    CompoundWithdrawRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - base
          default: base
        asset:
          type: string
        market:
          type:
          - string
          - 'null'
          enum:
          - usdc
          - weth
          description: Compound III Base Sepolia market. Defaults from asset.
        amount:
          type:
          - string
          - 'null'
          description: Human-readable token amount, or "max".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw token base-unit amount, or "max".
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - asset
    CompoundRepayRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - base
          default: base
        asset:
          type: string
          default: base
          description: 'Selected market base asset only: USDC/base or WETH/base.'
        market:
          type:
          - string
          - 'null'
          enum:
          - usdc
          - weth
          description: Compound III Base Sepolia market. Defaults from asset.
        amount:
          type:
          - string
          - 'null'
          description: Human-readable base asset amount, or "max".
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw base asset amount, or "max".
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
    CompoundBorrowRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - base
          default: base
        asset:
          type: string
          default: base
          description: 'Selected market base asset only: USDC/base or WETH/base.'
        market:
          type:
          - string
          - 'null'
          enum:
          - usdc
          - weth
          description: Compound III Base Sepolia market. Defaults from asset.
        amount:
          type:
          - string
          - 'null'
          description: Human-readable base asset amount.
        amount_raw:
          type:
          - string
          - 'null'
          description: Raw base asset amount.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
    CompoundCollateralBalance:
      type: object
      properties:
        symbol:
          type: string
        token_address:
          type: string
        decimals:
          type: integer
        collateral_balance_raw:
          type: string
        collateral_balance_formatted:
          type: string
    CompoundBorrowCapacityCollateral:
      type: object
      properties:
        symbol:
          type: string
        token_address:
          type: string
        decimals:
          type: integer
        price_feed_address:
          type: string
        price_raw:
          type: string
        borrow_collateral_factor_raw:
          type: string
        borrow_collateral_factor_percent:
          type: string
        collateral_balance_raw:
          type: string
        collateral_balance_formatted:
          type: string
        borrow_capacity_raw:
          type: string
        borrow_capacity_formatted:
          type: string
    CompoundAssetBalance:
      type: object
      properties:
        symbol:
          type: string
        token_address:
          type: string
        decimals:
          type: integer
        wallet_balance_raw:
          type: string
        wallet_balance_formatted:
          type: string
        compound_balance_raw:
          type: string
        compound_balance_formatted:
          type: string
        is_base_asset:
          type: boolean
    CompoundPositionResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        comet_address:
          type: string
        base_token_address:
          type: string
        base_token_symbol:
          type: string
        base_token_decimals:
          type: integer
        base_supply_balance_raw:
          type: string
        base_supply_balance_formatted:
          type: string
        base_borrow_balance_raw:
          type: string
        base_borrow_balance_formatted:
          type: string
        collateral_assets:
          type: array
          items:
            "$ref": "#/components/schemas/CompoundCollateralBalance"
    CompoundBalancesResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        comet_address:
          type: string
        assets:
          type: array
          items:
            "$ref": "#/components/schemas/CompoundAssetBalance"
    CompoundBorrowCapacityResponse:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
        smart_wallet_address:
          type: string
        comet_address:
          type: string
        base_token_address:
          type: string
        base_token_symbol:
          type: string
        base_token_decimals:
          type: integer
        base_price_feed_address:
          type: string
        base_price_raw:
          type: string
        utilization_raw:
          type: string
        utilization_percent:
          type: string
        supply_rate_per_second_raw:
          type: string
        supply_apr_percent:
          type: string
        borrow_rate_per_second_raw:
          type: string
        borrow_apr_percent:
          type: string
        current_borrow_raw:
          type: string
        current_borrow_formatted:
          type: string
        total_borrow_capacity_raw:
          type: string
        total_borrow_capacity_formatted:
          type: string
        available_borrow_raw:
          type: string
        available_borrow_formatted:
          type: string
        is_borrow_collateralized:
          type: boolean
        collateral_assets:
          type: array
          items:
            "$ref": "#/components/schemas/CompoundBorrowCapacityCollateral"
    GmxCreateOrderRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
          description: Hosted testnet uses arbitrum as the Arbitrum Sepolia chain
            label.
        order_type:
          type: string
          enum:
          - market_swap
          - limit_swap
          - market_increase
          - limit_increase
          - market_decrease
          - limit_decrease
          - stop_loss_decrease
          - stop_increase
        market:
          type: string
          description: GMX market token address.
        initial_collateral_token:
          type: string
          description: Collateral/input token sent to the GMX OrderVault.
        initial_collateral_delta_amount_raw:
          type: string
          description: Raw collateral/input amount in token base units.
        size_delta_usd_raw:
          type:
          - string
          - 'null'
          description: Raw 30-decimal USD size delta. Required for market_increase.
        acceptable_price_raw:
          type:
          - string
          - 'null'
          description: Raw 30-decimal acceptable price. Required for market_increase.
        min_output_amount_raw:
          type:
          - string
          - 'null'
          description: Raw minimum output amount. Required for market_swap.
        execution_fee_raw:
          type: string
          description: Raw ETH execution fee in wei.
        is_long:
          type:
          - boolean
          - 'null'
          default: true
        receiver:
          type:
          - string
          - 'null'
          description: Optional receiver. Defaults to the agent wallet.
        cancellation_receiver:
          type:
          - string
          - 'null'
          description: Optional cancellation receiver. Defaults to receiver.
        callback_contract:
          type:
          - string
          - 'null'
        ui_fee_receiver:
          type:
          - string
          - 'null'
        swap_path:
          type: array
          items:
            type: string
          default: []
        trigger_price_raw:
          type:
          - string
          - 'null'
        callback_gas_limit_raw:
          type:
          - string
          - 'null'
        valid_from_time_raw:
          type:
          - string
          - 'null'
          description: Raw timestamp from which the order is valid. Defaults to 0.
        referral_code:
          type:
          - string
          - 'null'
          description: bytes32 hex or short ASCII referral code.
        should_unwrap_native_token:
          type:
          - boolean
          - 'null'
          default: false
        auto_cancel:
          type:
          - boolean
          - 'null'
          default: false
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - order_type
      - market
      - initial_collateral_token
      - initial_collateral_delta_amount_raw
      - execution_fee_raw
    GmxCancelOrderRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        order_key:
          type: string
          description: GMX bytes32 order key.
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - order_key
    GmxUpdateOrderRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        order_key:
          type: string
        size_delta_usd_raw:
          type: string
        acceptable_price_raw:
          type: string
        trigger_price_raw:
          type: string
        min_output_amount_raw:
          type: string
        valid_from_time_raw:
          type: string
        auto_cancel:
          type:
          - boolean
          - 'null'
          default: false
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - order_key
      - size_delta_usd_raw
      - acceptable_price_raw
      - trigger_price_raw
      - min_output_amount_raw
      - valid_from_time_raw
    GmxCreateDepositRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        market:
          type: string
        initial_long_token:
          type: string
        initial_short_token:
          type: string
        initial_long_token_amount_raw:
          type:
          - string
          - 'null'
        initial_short_token_amount_raw:
          type:
          - string
          - 'null'
        min_market_tokens_raw:
          type: string
        execution_fee_raw:
          type: string
        receiver:
          type:
          - string
          - 'null'
        callback_contract:
          type:
          - string
          - 'null'
        ui_fee_receiver:
          type:
          - string
          - 'null'
        long_token_swap_path:
          type: array
          items:
            type: string
          default: []
        short_token_swap_path:
          type: array
          items:
            type: string
          default: []
        callback_gas_limit_raw:
          type:
          - string
          - 'null'
        should_unwrap_native_token:
          type:
          - boolean
          - 'null'
          default: false
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - market
      - initial_long_token
      - initial_short_token
      - min_market_tokens_raw
      - execution_fee_raw
    GmxCreateWithdrawalRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        market:
          type: string
        market_token_amount_raw:
          type: string
        min_long_token_amount_raw:
          type: string
        min_short_token_amount_raw:
          type: string
        execution_fee_raw:
          type: string
        receiver:
          type:
          - string
          - 'null'
        callback_contract:
          type:
          - string
          - 'null'
        ui_fee_receiver:
          type:
          - string
          - 'null'
        long_token_swap_path:
          type: array
          items:
            type: string
          default: []
        short_token_swap_path:
          type: array
          items:
            type: string
          default: []
        callback_gas_limit_raw:
          type:
          - string
          - 'null'
        should_unwrap_native_token:
          type:
          - boolean
          - 'null'
          default: false
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - market
      - market_token_amount_raw
      - min_long_token_amount_raw
      - min_short_token_amount_raw
      - execution_fee_raw
    GmxCancelRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        request_type:
          type: string
          enum:
          - order
          - deposit
          - withdrawal
          - shift
        key:
          type: string
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - request_type
      - key
    GmxClaimRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum:
          - arbitrum
          default: arbitrum
        claim_type:
          type: string
          enum:
          - funding_fees
          - collateral
          - affiliate_rewards
          - ui_fees
        markets:
          type: array
          items:
            type: string
        tokens:
          type: array
          items:
            type: string
        time_keys_raw:
          type: array
          items:
            type: string
          default: []
        receiver:
          type:
          - string
          - 'null'
        strategy_id:
          type:
          - string
          - 'null'
        callback_url:
          type:
          - string
          - 'null'
          format: uri
      required:
      - agent_id
      - claim_type
      - markets
      - tokens
